.tablesaw{width:100%;max-width:100%;empty-cells:show;border-collapse:collapse;border:0;padding:0;}.tablesaw *{box-sizing:border-box;}.tablesaw-stack td .tablesaw-cell-label,.tablesaw-stack th .tablesaw-cell-label{display:none;}@media (min-width:40em){.tablesaw-stack tr{display:table-row;}.tablesaw-stack td,.tablesaw-stack th,.tablesaw-stack thead td,.tablesaw-stack thead th{display:table-cell;margin:0;}.tablesaw-stack td .tablesaw-cell-label,.tablesaw-stack th .tablesaw-cell-label{display:none !important;}}
