﻿/* CSS Custom Stylesheet */
/* author: Clint MacDonald, InterGlobal Solutions*/
/* date: January 2007*/

/*to make the page align in the center */
body {
    /*text-align: center;*/
    width: 100%;
    font-size: 10pt;
	font-family: Verdana, Arial, MS Sans Serif;
	margin: 0 auto 0 auto;
	}
	
h1, .MainSiteHeading {
	font-size: 16pt;
	text-indent: 7pt;
	margin-top: 1px;
	margin-bottom: 1px;
    line-height: 25px;
	padding: 3px;
	font-weight: normal;
	font-family: Verdana, Arial, MS Sans Serif;
	}

h2 {
	font-size: 14pt;
	text-indent: 7pt;
	margin-top: 1px;
	margin-bottom: 1px;
	padding: 3px;
	line-height: 20px;
	color: black; /*white text*/
	font-weight: normal;
		font-family: Verdana, Arial, MS Sans Serif;

	}
.ReversePageTitle {
	font-size: 115%;
	text-indent: 7pt;
	margin-top: 1px;
	margin-bottom: 1px;
	padding: 3px;
	color: #FFFFFF; /*white text*/
	font-weight: bold;
	}
.ScholarshipName
{
	width: 560px;
	color: #c40000;
	font-family: Verdana, Arial;
	font-weight: bold;
	}
.ScholarshipBlurb
{	
	width: 560px;
	font-size: 8pt;
 	color: #565656;
}
/* NEWS SECTION */
.NewsHeadline
{
	color: #15355b; 
	font-weight: bold;
	font-size: 12pt;
	border-bottom: solid 1px #bbbbbb;
	display: block;
	width: 95%;
	padding: 1px;
	font-family: Cambria, MS Sans Serif, Arial;
}

.NewsDate
{
	color: #787878;
	font-size: 8pt;
	font-family: Arial, Verdana, MS Sans Serif;
	padding: 3px;
}

.NewsContent
{
	color: #787878;
	font-size: 10pt;
	/*font-family: Calibri, Arial, Verdana;
	text-align: right;*/
}
/* an addtional tag wrapped around the body, to help align the body
in the center. It's also created for future use.*/
#pagecontainer {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	width: 760px;
	text-align: left;
	top: 8px;

	}
.MainContent 
{
	color: #232323;
	font-size: 10pt;
}
/*Change the color of the content bar */
#contentbar {
	background: #C40000; /*red bgcolor*/
	}
 
/*text within the content bar*/



/*tables*/
/*   
#mainContent table {
	padding: 0 0 0 0;
	margin: 0 0 0 0;
	border: 1px solid #c1c1c1; 
	font-size:1em;
	}
	
#mainContent tr, td, th {
	text-align: left;
	vertical-align: top;
	padding: 2px;
	margin: 0 0 0 0;
	font-family: Verdana, Helvetica, Arial, sans-serif;
	font-size: 100%; 
	font-weight: normal;
	border: 1px solid #c1c1c1;
	}
*/
/*custom table for big tables ( /student/applicationrequirement.asp) */
#bigtable {
	font-size: 100%;
	width:70%
	}
	
/*custom table for tables with no borders*/
#nobordertable {
	border: 0px solid #ffffff;
	}

/*custom text fonts for big tables*/
.smalltext {
    font-family: Verdana, Helvetica, Arial, sans-serif;
	font-size: 100%; 
	font-weight: normal;
	}

/*change the style for links*/
a:link 
{
   	text-decoration: none;
	color:#c40000;
	}
	
a:visited {
   	text-decoration: none;
	color:#c40000;
	}
a:hover {
	text-decoration: underline;
	color:#0000ff;
	}

/*end of document*/
.Watermark
{
	font-size: 26pt;
	color: #dddddd;
	font-family: 'Times New Roman' , Arial;
}
.change_added
{
	background-color: #99cc99;
}
.change_deleted
{
	background-color: #ffccff;
}
.change_modified
{
	background-color: #ffffcc;
}
.CalendarYear
{
    font-family: Times New Roman,arial,verdana;
    font-size:16pt;
    color:Black;
}	

.pageTitleBack
{
   /*	background-color: navy; - changed by Cam to next line */
        /*background-color:#339900; */ /* UGRAD green */
    /* WLOO:2012-02-22:EMICHNIE:Grad color changed as per new request */
        /*background-color:#33FFCC ; /* 2012-02-22 new Ugrad brighter green */
        /*background-color:#C40000;*/  /* old - GRAD Red */
          background-color:#424242; /* Grad - grey */
    height: 25px;
 }
.pageTitle
{
    color: White;
    font-family: Verdana,Arial,MS Sans Serif;
    font-size: 13pt;
    font-weight: bold;
}
.groupName
{
    font-family: Times New Roman,arial,verdana;
    font-size:16pt;
    color:Black;
}
.sectionName   
{
    font-family: Times New Roman,arial,verdana;
    font-size:12pt;
    color:Black;
}
.PersonnelTitleText
{
    font-family: Verdana, Arial, MS Sans Serif;
    font-size: 10pt;
    font-weight: bold;
    margin: 5px 10px 5px 10px;
    color: Black;
}
.PersonnelNameText
{
    font-family: Verdana, Arial, MS Sans Serif;
    font-size: 10pt;
    color: #232323;
    /*font-weight: bold; */
}
.PersonnelNameCell {
    padding: 5px 5px 5px 5px;
}
.PersonnelCredits
{
    font-family: Verdana, Arial, MS Sans Serif;
    font-size: 9pt;
    /*font-weight: bold;*/
    margin: 20px 0px 20px 0px;
    font-style:italic;
    color: #232323;
}
.PersonnelTitleCell
{
	background-color: #efefef;
}
.PersonnelFooterAssociationsText
{
    font-size: 8pt;
    color: #232323;
}
.PersonnelFooterFootnotesText
{
    font-size: 8pt;
    color: #232323;
}
/*.TofC_Level1
{
	font-family: MS Sans Serif, Arial, Verdana;
	color: Red;
	font-size:12pt;
	font-weight:bold;
	}
	
.TofC_Level2
{
	font-family: MS Sans Serif, Arial, Verdana;
	color:Black;
	font-size:10pt;
	font-weight:bold;
	margin-bottom: 25px;
	padding: 0 0 25px 5px;
	}
.TofC_Level3
{
	font-family: MS Sans Serif, Arial, Verdana;
	font-size: 10pt;
	padding: 0 0 4px 15px;
	}
.TofC_Level2Link
{
	font-family: MS Sans Serif, Arial, Verdana;
	font-size: 10pt;
	padding: 0 0 10px 5px;
	}
*/
.PersonnelTitleCell
{
	background-color: #dddddd;
}
.FootnoteHeader
{
	color:black;
	font-style:italic;
	font-weight:bold;
}
.ScholarshipTitle
{ margin: 10px 0 0 0; 
	color: Red;
	font-family: Verdana, Arial, MS Sans Serif;
	font-size: 10pt;
	font-weight: bold;
	}
.ScholarshipText
{
	margin: 0;
	font-family: Verdana, Arial, MS Sans Serif;
	font-size: 10pt;
}

/* MENU SECTION */
/* RadMenu Plain skin */

.RadMenu
{
	background: #ececec url('http://gradcalendar.uwaterloo.ca/App_Themes/Default/img/MenuItemBackground.gif') repeat-x;
	border-right: solid 1px #bbbbbb;
	font-size: 11px;
	font-family: Arial, Verdana;
	color: #666666;
	padding: 0px 0px 0px 0px;
}

.RadMenu_Default 
{
	background: #ececec url('http://gradcalendar.uwaterloo.ca/App_Themes/Default/img/MenuItemBackground.gif') repeat-x;
	border-left: solid 1px #bbbbbb;
	height: 20px;
	font-size: 11px;
	font-family: Arial, Verdana;
	color: #666666;
	padding: 0px 0px 0px 0px;
}

.RadMenu_Default a
{
	line-height: 20px;
	text-decoration:none;
	color: #666666;
	padding-left: 5px;	
	padding-right: 5px;
}

.RadMenu_Default a:hover
{
	background: #e6e6e6;
	color: #000000;
}

.RadMenu_Default_Drop
{
	border: solid 1px #bbbbbb;
	border-right: 1px;
	border-bottom: 1px;
	font-family: Arial, Verdana;
	font-size: 11px;
	color: #666666;
}

.RadMenu_Default_DropItem
{
	background: #f7f7f7;
	border-top: solid 1px #fff;
	border-bottom: solid 1px #d7d7d7;
	text-align: left;
	height: 24px;
	padding-left: 5px;
	padding-right: 5px;
}
.RadMenu_Default_DropItem a
{
	color: #666666;
	text-decoration: none;
}
.RadMenu_Default_DropItem a:hover,
.RadMenu_Default_Drop a:hover
{
	color: #000000;
}

.RadMenu_Default_DropHover
{
	background: #e6e6e6;
	border-bottom-color: #d7d7d7;
	font-weight: normal;
	color: #000000;
	width:100%;
}

/* --  search result --- */
.SearchResultsRowStyle
{
	background-color: White; }
.SearchResultsAltRowStyle
{
	background-color: #e3e3e3; }
.SearchResultsActiveDates
{
	font-size: 7pt; }
.SearchResultsContent
{
	font-size: 9pt; }
/* EM - attempt to create styles for new UW logo and search */
/* Started as a copy of relevant elements from http://uwaterloo.ca/css/UWblank_v3p1.css */

/* -------- Header: includes UW bar, search, department title  	 ----------- */



.searchboxUW3 {
	background-color: #666;
	cursor: text;
	color: #FFF;
	text-decoration: none;
	border-style: solid;
	border-color: #666;
	}

#wordmarkUW3 {
	border-top: 1px solid #CCC;
	margin-left: 175px;
}

#uwlogoUW3 {
	position:absolute;
	margin-top: 4px;
	margin-left: 22px;
}

#wordmarkUW {
	border-top: 1px solid #CCC;
	margin-left: 175px;
	width:auto;
	overflow:hidden;
}


#wordmarkUW h1 {
	font-family: Baskerville, "Baskerville Old Face", "MgOpen Canonica", "Bitstream Vera Serif", Georgia, "Times New Roman", Times, serif;
	font-size: 2.2em;
	letter-spacing: 1px;
	font-weight: normal;
	margin: 14px 8px 0 0;
}

	#wordmarkUW a {
	text-decoration: none;
	color: #000;
	}

#clfbarUW {
	background: #000;
	height: 40px;
	position: relative;
}


#uw_wordmarkUW {
	width: 120px;
	position: absolute;
	left: 0;
	margin:0;
}



#uwlogoUW {
	position:absolute;
	top: 8px;
	left: 22px;
	}
